.carousel {
  width: 100%;
  min-height: 40vw;
  background-color: black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: rgba(136, 136, 136, 0);
  border: none;
  width: 50px;
}
.button:hover {
  background-color: rgba(151, 151, 151, 0.466);
  border: none;
  width: 50px;
}

.imageDisplay {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 4px;
}

.imageDisplay img {
  width: 100%;
  padding: 2px;
  border-radius: 4px;
  margin: 0;
}