.container {
  max-width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: left;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  min-width: 320px;
  width: 50vw;
  max-width: 960px;
  margin: 0 auto;
  padding: 2vw 4vw;
  backdrop-filter: blur(6px);
  border-radius: 2px;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.75);
}
