html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}
body {
  width: 100%;
  background-attachment: fixed;
  background-image: url("/images/chapelle.jpg");
  background-size: cover;
  background-position: center;
}

* {
}

main {
  background-color: ;
}

p {
}

a {
  text-decoration: none;
}

a:hover {
  color: tomato;
  text-decoration: underline;
}

img {
}

.article-img-cover {
  max-width: 100%;
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 70vh;
  border-radius: 2px;
  margin: 4px auto;
}

.article-img-center {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 50vh;
  max-width: 30vw;
  border-radius: 2px;
  margin: 4px auto;
}

.article-img-small {
  max-width: 100%;
  display: inline;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 30vh;
  border-radius: 2px;
  margin: auto;
}

.article-img-float-left {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 25vw;
  border-radius: 2px;
  margin-right: 14px;
  position: relative;
  left: -20px;
  float: left;
}

.article-img-float-right {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 25vw;
  border-radius: 2px;
  margin-left: 14px;
  position: relative;
  right: -20px;
  float: right;
}
