html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    sans-serif; */

  font-family: Roboto;
  line-height: 1.6;
  font-size: 18px;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: url("/images/chapelle.jpg");
  background-size: cover;
  background-position: center;
}

* {
}

main {
  background-color: ;
}

p {
}

a {
  color: inherit;
  text-decoration: none;
}

.inline-a {
  text-decoration: underline;
  color: tomato;
}

/* ---- Nav Bar Styles ---- */

.navBar {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ffffea;
  color: rgb(0, 0, 0);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.205);
  margin: 0;
  padding: 4px;
  width: 100vw;
  max-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-overflow: clip;
  list-style: none;
}

.homeLink {
  font-family: cursive;
  font-size: 1.5em;
  line-height: 0.95;
  text-shadow: 0px 0px 1px lightgoldenrodyellow;
  flex-grow: 2;
  padding: 2px 6px;
  margin: 2px;
  justify-content: center;
}

@keyframes grow {
  50% {
    transform: scale(2);
  }
}

.homeLink:hover {
  animation: grow ease-in-out;
}

.homeLogo {
  padding: 2px 2px;
  margin: 0 auto;
  object-fit: contain;
}

.homeLogo img {
  display: block;
  object-fit: contain;
  max-height: 10vh;
}

.navBar li {
  display: flex;
  flex-direction: column;
}

.navLink {
  size: 4rem;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.205);
  padding: 2px 2px 2px 2px;
  margin: 0 18px 0 0;
  white-space: pre-line;
  font-family: cursive;
  font-size: 1.1em;
  cursor: pointer;
  border-bottom: none;
  transition: border-bottom 3s ease-in;
}

.navLink:after {
  /* content: "HERE I AM !";
  display: block;
  color: red;
  border: solid 1px red;
  bottom: 0;
  left: 50%;
  background: #000; */
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  bottom: 0;
  left: 50%;
  position: relative;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  height: 1px;
  width: 0;
}

.navLink:hover:after {
  width: 100%;
  left: 0;
}
.selectedNavLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  bottom: 0;
  position: relative;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  height: 1px;
  width: 100%;
  left: 0;
}

/* ---- Image Styles ---- */

img {
}

.article-img-cover {
  height: 80vh;
  max-height: 100vh;
  object-fit: cover;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;

  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);

  border-radius: 2px;
  margin: 4px auto;
}

.article-img-center {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 50vh;
  max-width: 30vw;
  border-radius: 2px;
  margin: 4px auto;
}

.article-img-small {
  max-width: 100%;
  display: inline;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 30vh;
  border-radius: 2px;
  margin: auto;
}

.article-img-float-left {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 25vw;
  border-radius: 2px;
  margin-right: 14px;
  position: relative;
  left: -20px;
  float: left;
}

.article-img-float-right {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 25vw;
  border-radius: 2px;
  margin-left: 14px;
  position: relative;
  right: -20px;
  float: right;
}

.article-img-small-float-left {
  display: block;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-width: 30vw;
  border-radius: 2px;
  margin-right: 14px;
  position: relative;
  left: -20px;
  float: left;

  max-width: 100%;
  display: inline;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  max-height: 28vh;
  border-radius: 2px;
  margin: auto;
}
